/* VARIABLES */ 

/* colors */
$slack-purple: #4d394b;
$slack-blue: #70cadb;
$slack-orange: #e8a723;
$slack-pink: #e01765;
$slack-green: #3eb890;
$text-color: #fff;


/* fonts */
$font-name: lato; 


$col-width: 1 / 3 * 100%;


$tablet-breakpoint: 800px;
